@using BE
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<BETaller> listTipo = ViewBag.ListTalleres as List<BETaller>;
}
<div class="row">
    <div class="col-md-12 col-lg-9 col-xl-12">

        <!-- Basic table card start -->
        <div class="card shadow mb-5">
            <div class="card-header d-flex justify-content-between">
                <h5>Listado General de Talleres</h5>
                <button type="button" class="btn btn-sm btn-outline-success col-auto mb-3" data-toggle="modal" data-target="#exampleModal" style="float: right;">
                    Registrar Nueva Taller
                </button>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-xs table-hover" id="dataTableTickets" cellspacing="0">
                        <thead class="table-dark">
                            <tr>
                                <th style="text-align: center;">ID</th>
                                <th style="text-align: center;">Taller</th>
                                <th style="text-align: center;">Descripción</th>
                                <th style="text-align: center;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var taller in listTipo)
                            {
                                <tr>
                                    <td class="td-sistema" style="text-align: left;">
                                        @taller.id_taller
                                    </td>
                                    <td class="td-sistema" style="text-align: left;">
                                        @taller.nombreTaller
                                    </td>
                                    <td class="td-sistema" style="text-align: left;">
                                        @taller.descripcionTaller
                                    </td>
                                    <td class="td-sistema" style="text-align: center;">
                                        <button class='btn btn-danger btn-sm' type='button' onclick='Eliminar(@taller.id_taller)'>
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Registro de Taller</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Index", "Taller", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Nombre del Taller</label>
                        <input type="text" class="form-control" required id="nombre" name="nombre">
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-form-label">Descripción</label>
                        <textarea class="form-control" required id="descripcion" name="descripcion" rows="5"></textarea>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
            var tabla_persona;
             $(document).ready( function () {
                 tabla_persona = $('#dataTableTickets').DataTable({
                     "order": [[0, "desc"]]
                 });
             });

            function Eliminar($id) {
            if ($id != 0) {
                Swal.fire({
                    title: '¿Estás seguro de eliminar este certificado?',
                    text: "¡No podrás revertir esto!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, eliminarlo',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {

                        jQuery.ajax({
                            url: "@Url.Action("EliminarTaller", "Taller")" + "?id=" + $id,
                            type: "GET",
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {

                                if (data.resultado) {
                                    location.reload();
                                }
                            }
                        });

                    }
                })
            } else {
            }

            }

           var strValue = "@((string)TempData["mensaje"])";
            if (strValue == "Taller registrado correctamente.") {
                Swal.fire({
                    icon: 'success',
                    title: 'Listo',
                    text: 'Taller registrado correctamente.'
                })
            }
            if (strValue == "Error: No se registró el taller.") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Error al registrar el Taller.'
                })
            }
            if (strValue == "campos") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Debe completar todos los campos.'
                })
            }
            
        
        
    </script>
}

