@model BE.BEEvento
@using BE 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<BEEvento> EventoList = ViewBag.EventoList as List<BEEvento>;
}

<div>

    <div class="col-md-12 col-lg-9 col-xl-10">
        <div class="card shadow">
            <div class="card-header">

                @using (Html.BeginForm())
                {
                    <div class="form-horizontal">
                        <h4>Nombre</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.IdEvento, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.IdEvento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.IdEvento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NomEvento, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NomEvento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NomEvento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DesEvento, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DesEvento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DesEvento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Grabar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }


                        <h5 class="mt-2">Listado de Eventos</h5>
                        <hr />
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-outline-primary mb-3" data-toggle="modal" data-target="#exampleModal">
                            Regitrar Nuevo Evento
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-xs table-hover table-striped" id="tbEventos">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Descripción
                                        </th>
                                        <th>
                                            F. Creación
                                        </th>
                                        <th>
                                            Usuario
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var evento in EventoList)
                                    {
                                        <tr>
                                            <td>@evento.IdEvento</td>

                                            <td>@evento.NomEvento</td>

                                            <td>@evento.DesEvento</td>

                                            <td>@evento.FCreate.ToShortDateString()</td>

                                            <td>@evento.UsrCreate</td>

                                            <td>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registrar Evento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("Create", "Eventos", FormMethod.Post))
                    {
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label">Evento:</label>
                                <input type="text" class="form-control" />

                            </div>
                        </div>
                    }
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts
{
        <script type="text/javascript">
        var tabla_eventos;
        $(document).ready(function () {
            tabla_eventos = $('#tbEventos').DataTable({
                "order": [[0, "desc"]]
            });
        });
        </script>
    }
</div>